@page "/eventPay"
@using Stripe
@using SportsApp.Data
@using System.Diagnostics
@using StateManager
@inject ISnackbar Snackbar
@inject NavigationManager nav

<MudContainer Class="px-8">
    <MudStack Spacing="4">
        <MudItem>
            <MudText Typo="Typo.h3" Align="Align.Center">payment</MudText>
            <MudText Align="Align.Center">you have selected the @StateManager.MembershipSelection plan, enter your credit card info</MudText>
        </MudItem>
        
        <!-- REPLACE WITH MUDBLAZOR COMPONENTS -->
        <EditForm OnValidSubmit="@FormSubmit" Model="@accountOptions">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-group row">
                <label for="cardholderName" class="col-sm-6 col-form-label">Cardholder Name:</label>
                <input id="cardholderMame" class="form-control col-sm-6 input-lg" type="text"
                       @bind="accountOptions.CardHolderName">
            </div>
            <div class="form-group row">
                <label for="cardNum" class="col-sm-6 col-form-label">Card Number:</label>
                <input id="cardNum" class="form-control col-sm-6 input-lg" type="number"
                       @bind="accountOptions.CardNumber" />
            </div>
            <div class="form-group row">
                <label for="cardExpiryMo" class="col-sm-6 col-form-label">Expiration Month:</label>
                <input id="cardExpiryMo" class="form-control col-sm-6 input-lg" type="number"
                       @bind="accountOptions.CardExpiryMonth" />
            </div>
            <div class="form-group row">
                <label for="cardExpiryYear" class="col-sm-6 col-form-label">Expiration Year:</label>
                <input id="cardExpiryYear" class="form-control col-sm-6 input-lg" type="number"
                       @bind="accountOptions.CardExpiryYear" />
            </div>
            <div class="form-group row">
                <label for="cardCvc" class="col-sm-6 col-form-label">CVC Security Code:</label>
                <input id="cardCvc" class="form-control col-sm-6 input-lg" type="number"
                       @bind="accountOptions.CardCvc" />
            </div>
            <br />
            <br />
            <MudButton OnClick="processAccountCreation" Disabled="@_processing" Variant="Variant.Filled">
                @if (_processing)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                    <MudText Class="ms-2">Processing</MudText>
                }
                else
                {
                    <MudText>purchase</MudText>
                }
            </MudButton>

        </EditForm>

            @*@if (_processing)
            {
                <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
                <MudText Class="ms-2">Processing</MudText>
            }*@
       
      

    </MudStack>
</MudContainer>

@code {
    private Card card;
    private CardModel accountOptions = new CardModel();

    private async Task FormSubmit()
    {

    }
    private bool _processing = false;
    async Task processAccountCreation()
    {
        _processing = true;
        await Task.Delay(1000);
        Snackbar.Clear();
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        Snackbar.Add(" successfully paid", Severity.Success);
        _processing = false;
        nav.NavigateTo("/qrCode");
    }
}
