@page "/"
    <div class="container-fluid">
        <div class="row">
            <center>
                <img src="Images/goal.jpg" width="280" height="110" />
                <h2>Hello, user.</h2>
                Welcome to Goal home page!
            </center>
        </div>
    </div>
    <br />
    <br />

    @*<MudAlert Severity="Severity.Error">This is a MudBlazor component</MudAlert>*@

    <h2>Your upcoming events:</h2>
    <img src="Images/image_template1.jpg" width="563" height="343" />
    <br />
    <br />
    <br />

    <h2>Events and centers you follow:</h2>
    <img src="Images/image_template2.jpg" width="563" height="343" />
    <br />
    <br />
    <br />

    <h2>Gyms you follow, and gyms near you:</h2>
    still in development... need to add geolocation
    <br />
    <br />
    <br />

    @*<SurveyPrompt Title="How is Blazor working for you?" />*@
